extends layout

block content
  h2= title
  p.
    Welcome to a land of boxes. 
  p.
    This is a practice app built in node.js. Mostly just an attempt to try building 
    something, hosting it somewhere, practicing version control etc.